<%- include('partials/header') %>

<div class="b-black container">
      
      <div class=" b-red row">
            <div class="b-blue col-4">
                  <p class="fill">col-4</p>
            </div>
            <div class="b-blue col-6">
                  <p class="fill">col-6</p>
            </div>
      </div>

</div>

<p>black = main container</p>
<p>red = row</p>
<p>blue = columns</p>
<p>Green = data element</p>


<div class="main-container-2 b-black container">
      
      <div class=" b-red  row">
            <div class="b-blue col-4">
                  <p class="fill">col-4</p>
            </div>
            <div class="b-blue col-6">
                  <p class="fill">col-6</p>
            </div>
      </div>
<br>
      <div class=" b-black inner-container container">
         <div class="b-red row">
            <div class="b-blue my-col col-6">
                  <p class=" my-auto fill">somefjgfjhfhj kfugkgkggggfjhfjf  ftjtfdjtfdt  jdjdj  data</p>
            </div>
            <div class="b-blue col-6">
                  <p class="fill">some data</p>
            </div>
         </div>   

      </div>

</div>

<%- include('partials/footer') %>