<%- include('partials/header') %>
   
        
            <input type="text" name="wordInput" placeholder="type in word here">
            <button class="process-btn">Process</button>
            <br>
            <br>
              
            
           
      
      
      <div class="main-box">

      </div>

      <script>
                  
              

                  const letterPoints = {};

                  
                  letterPoints["a"] =1;
                  letterPoints["e"] =1;
                  letterPoints["i"] =1;
                  letterPoints["o"] =1;
                  letterPoints["u"] = 1;
                  letterPoints["l"] =1;
                  letterPoints["n"] =1;
                  letterPoints["s"] =1;
                  letterPoints["t"]=1;
                  letterPoints["r"] = 1;

                  letterPoints["d"] =2;
                  letterPoints["g"] = 2;

                  letterPoints["b"] = 3
                  letterPoints["c"] = 3;
                  letterPoints["m"] = 3;
                  letterPoints["p"] = 3;

                  letterPoints["f"] = 4;
                  letterPoints["h"] = 4
                  letterPoints["v"] =4;
                  letterPoints["w"] =4;
                  letterPoints["y"] =4;

                  letterPoints["k"] = 5;

                  letterPoints["j"] = 8;
                  letterPoints["x"] = 8;

                  letterPoints["q"] = 10;
                  letterPoints["z"] = 10;

//  ************Cleared methods
                        const calculateTotalScore = (wordAsArray,checkBoxData)=>{
                          let regularScore =0;
                          let extraLetterScore =0;
                          let indexOfLetterOfCheckedBox =[];//holds index position of letter that has extra scoring
                          
                          checkBoxData.forEach((checkedBox)=>{
                            extraLetterScore+= checkedBox.letterPoint*checkedBox.multiplyer;
                            indexOfLetterOfCheckedBox.push(parseInt(checkedBox.indexOfLetterWithExtraScore));
                          })
                          
                      
                          wordAsArray.forEach((letter,index)=>{
                           
                      
                            if(!indexOfLetterOfCheckedBox.includes(index)){
                              
                              regularScore+=letterPoints[letter];
                             
                            }

                          
                          })  
                          console.log( `extraLetterScore: ${extraLetterScore} regularLetterScore: ${regularScore}   indexOfLetter: ${indexOfLetterOfCheckedBox}`);
                          return parseInt(regularScore+extraLetterScore);
                        }

                        const getAllCheckedBoxes = ()=>{
                          const checked = [];//store checked boxes here

                          //find all checkboxes by name
                          let arrayOfCheckBoxes = document.getElementsByName("checkbox");

                           //loop through all boxes
                           arrayOfCheckBoxes.forEach((checkbox)=>{

                              if(checkbox.checked){
                                checked.push(checkbox);
                              }

                          })

                         
                            return checked;
                        }
                        const convertDataFromCheckBoxesToObjs = (checkedBoxes)=>{
                            const objs = [];//store objects of data from checkboxes

                            checkedBoxes.forEach((box)=>{

                                  //destrcut data from each boz into an object
                                  const [letter, multiplyer] = [...box.value];
                                  const [letterInWord, indexOfLetterWithExtraScore] = [...box.id];

                                 
                                  objs.push(
                                    {
                                      letter,  
                                      letterPoint:letterPoints[letter],
                                      multiplyer,
                                      indexOfLetterWithExtraScore//used to indicate the index of letter that has extra scoring
                                    }
                                  )

                                  })

                                  return objs;
                        } 
                        const getWordData = ()=>{
                          const word= document.querySelector("[name = wordInput]").value;
                          const wordArray = [...word];
                          const wordLength = wordArray.length;
                          return {word, wordArray, wordLength};
                        }
                        const printArrayOfElementsToScreen = (arrayOfElements,elementToBePutInto)=>{

                          //loops throw array of elements and appends each to mainbox
                          arrayOfElements.forEach((element,index)=>{
                                if(index != 7){
                                  elementToBePutInto.appendChild(element);
                                }else{
                                  const break1= document.createElement("br");
                                  const break2= document.createElement("br");
                                  const break3= document.createElement("br");
                                  elementToBePutInto.appendChild(break1);
                                  elementToBePutInto.appendChild(break2);
                                  elementToBePutInto.appendChild(break3);
                                  elementToBePutInto.appendChild(element);

                                }
                              
                          })
                        }  
                        const isOneOftwoBoxesChecked = (idOfElements)=>{
                          const arrayOfCheckBoxes = document.querySelectorAll(idOfElements);//grabs all elements with specific id

                          // let result = undefined;
                          arrayOfCheckBoxes.forEach((checkBox)=>{

                            console.log(checkBox);

                          })

                          //  return result;
                        }


         //  ************Cleared methods 

                  

                  const createGroupElement = (letter,index)=>{
                    const myDiv= document.createElement("div");
                    myDiv.classList.add("box");
                    myDiv.id = letter+index;


                    const myP = document.createElement("p");
                    myP.textContent = letter;
                    const myCheckBox1 = document.createElement("input");
                    myCheckBox1.type = "checkbox";
                    myCheckBox1.name="checkbox";
                    myCheckBox1.value=letter+2;
                    
                    myCheckBox1.id = letter+index;

                    const label1 = document.createElement("label");
                    label1.textContent = "2X";





                    const myCheckBox2 = document.createElement("input");
                    myCheckBox2.type = "checkbox";
                    myCheckBox2.name="checkbox";
                    myCheckBox2.value=letter+3;
                    myCheckBox2.id = letter+index;

                    const label2 = document.createElement("label");
                    label2.textContent = "3X";


                    myDiv.appendChild(myP);
                    myDiv.appendChild(myCheckBox1);
                    myDiv.appendChild(label1);

                    myDiv.appendChild(myCheckBox2);
                    myDiv.appendChild(label2);

                    return myDiv;
                  };

                  
                  const createArrayOfGroupedElement = (wordAsArray)=>{

                    let elementArray =[];//used to store the create elements
                    wordAsArray.forEach((letter,index)=>{
                       
                       const element = createGroupElement(letter,index);

                       elementArray.push(element);
                     })

                     return elementArray;
                  }     
                 
 
                  let processBtn = document.querySelector(".process-btn");
           
                  //when button is clicked run a funcion
                  processBtn.addEventListener("click",()=>{
                         
                         const wordAsArray = getWordData().wordArray;
                         
                         const arrayOfGroupedElements = createArrayOfGroupedElement(wordAsArray);
                    
                        const mainBox = document.querySelector(".main-box");
                
                        printArrayOfElementsToScreen(arrayOfGroupedElements,mainBox);
                          
                      //  ********************************
                      const myBtn = document.createElement("button");
                      myBtn.textContent="calculate";
                      //  myBtn.name="calculateBtn";
                      mainBox.appendChild(myBtn);


                      myBtn.addEventListener("click",(event)=>{

                       

                        const checkedBoxes = getAllCheckedBoxes();

                        const dataObjs = convertDataFromCheckBoxesToObjs(checkedBoxes);

                        console.log(calculateTotalScore(wordAsArray,dataObjs));
                      })

                      
                  });
                 
                 

                  /*Left of on the following need to add
                  -double word score
                  -triple word score
                  -Bingo 50 points for using all 7 tiles "SEE IF THIS IS A REAL THING IN ACTUAL GAME"*/
            
      </script>
<%- include('partials/footer') %>