<%- include('partials/header') %>
   
        
            <input type="text" name="wordInput" placeholder="type in word here">
            <button class="process-btn">Process</button>
            <br>
            <br>
              
            
           
      
      
      <div class="main-box">

      </div>

      <script>
                  
                  const letterPoints = {};

                  letterPoints["a"]=1;
                  letterPoints["a"] =1;
                  letterPoints["e"] =1;
                  letterPoints["i"] =1;
                  letterPoints["o"] =1;
                  letterPoints["u"] = 1;
                  letterPoints["l"] =1;
                  letterPoints["n"] =1;
                  letterPoints["s"] =1;
                  letterPoints["t"]=1;
                  letterPoints["r"] = 1;

                  letterPoints["d"] =2;
                  letterPoints["g"] = 2;

                  letterPoints["b"] = 3
                  letterPoints["c"] = 3;
                  letterPoints["m"] = 3;
                  letterPoints["p"] = 3;

                  letterPoints["f"] = 4;
                  letterPoints["h"] = 4
                  letterPoints["v"] =4;
                  letterPoints["w"] =4;
                  letterPoints["y"] =4;

                  letterPoints["k"] = 5;

                  letterPoints["j"] = 8;
                  letterPoints["x"] = 8;

                  letterPoints["q"] = 10;
                  letterPoints["z"] = 10;

                  const group1 = ["a","e","i","o","u","l","n","s","t","r"];//1 point
                  const group2 = ["d","g"];//2 point
                  const group3 = ["b","c","m","p"];//3 point
                  const group4 = ["f","h","v","w","y"];//4 point
                  const group5 = ["k"];//5 point
                  const group6 = ["j","x"];//8 point
                  const group7 = ["q","z"];//10 point


                  

                  const createGroupElement = (letter,index)=>{
                    const myDiv= document.createElement("div");
                    myDiv.classList.add("box");
                    myDiv.id = letter+index;


                    const myP = document.createElement("p");
                    myP.textContent = letter;
                    const myCheckBox1 = document.createElement("input");
                    myCheckBox1.type = "checkbox";
                    myCheckBox1.name="checkbox";
                    myCheckBox1.value=letter+2;
                    
                    myCheckBox1.id = letter+index;

                    const label1 = document.createElement("label");
                    label1.textContent = "2X";





                    const myCheckBox2 = document.createElement("input");
                    myCheckBox2.type = "checkbox";
                    myCheckBox2.name="checkbox";
                    myCheckBox2.value=letter+3;
                    myCheckBox2.id = letter+index;

                    const label2 = document.createElement("label");
                    label2.textContent = "3X";


                    myDiv.appendChild(myP);
                    myDiv.appendChild(myCheckBox1);
                    myDiv.appendChild(label1);

                    myDiv.appendChild(myCheckBox2);
                    myDiv.appendChild(label2);

                    return myDiv;
                  };

                  const getWordData = ()=>{
                          const word= document.querySelector("[name = wordInput]").value;
                          const wordArray = [...word];
                          const wordLength = wordArray.length;
                          return {word, wordArray, wordLength};
                        }
                  const createArrayOfGroupedElement = (wordAsArray)=>{

                    let elementArray =[];//used to store the create elements
                    wordAsArray.forEach((letter,index)=>{
                       
                       const element = createGroupElement(letter,index);

                       elementArray.push(element);
                     })

                     return elementArray;
                  }     
                  const printArrayOfElementsToScreen = (arrayOfElements,elementToBePutInto)=>{

                     //loops throw array of elements and appends each to mainbox
                     arrayOfElements.forEach((element,index)=>{
                            if(index != 7){
                              elementToBePutInto.appendChild(element);
                            }else{
                              const break1= document.createElement("br");
                              const break2= document.createElement("br");
                              const break3= document.createElement("br");
                              elementToBePutInto.appendChild(break1);
                              elementToBePutInto.appendChild(break2);
                              elementToBePutInto.appendChild(break3);
                              elementToBePutInto.appendChild(element);

                            }
                          
                      })
                  }
                 
                  const isOneOftwoBoxesChecked = (idOfElements)=>{
                      const arrayOfCheckBoxes = document.querySelectorAll(idOfElements);//grabs all elements with specific id

                      // let result = undefined;
                       arrayOfCheckBoxes.forEach((checkBox)=>{

                        console.log(checkBox);

                       })

                      //  return result;
                    }

                  const calculateTotal = (wordAsArray)=>{
                    let score =0;
                    wordAsArray.forEach((letter,index)=>{
                      
                      
                      group1.includes(letter) ? score+=letterPoints[letter] : undefined;
                      group2.includes(letter) ? score+=letterPoints[letter] : undefined;
                      group3.includes(letter) ? score+=letterPoints[letter] : undefined;
                      group4.includes(letter) ? score+=letterPoints[letter] : undefined;
                      group5.includes(letter) ? score+=letterPoints[letter] : undefined;
                      group6.includes(letter) ? score+=letterPoints[letter] : undefined;
                      group7.includes(letter) ? score+=letterPoints[letter] : undefined;
                        
                    
                    })  

                    
                    
                          

                   
                    return parseInt(score);
                  }

                  let processBtn = document.querySelector(".process-btn");
           
                  //when button is clicked run a funcion
                  processBtn.addEventListener("click",()=>{
                         
                         const wordAsArray = getWordData().wordArray;
                         
                         const arrayOfGroupedElements = createArrayOfGroupedElement(wordAsArray);
                        // console.log(calculateTotal(wordAsArray));
                        //grab the main div and add new elements in it
                        const mainBox = document.querySelector(".main-box");
                
                        printArrayOfElementsToScreen(arrayOfGroupedElements,mainBox);
                          
                      //  ********************************
                      const myBtn = document.createElement("button");
                      myBtn.textContent="calculate";
                      //  myBtn.name="calculateBtn";
                      mainBox.appendChild(myBtn);

                      //add evenet listener to calculate button

                      //should get the total of points of letters
                      //and  the value of checkboxes and calculte that with totals

                      myBtn.addEventListener("click",(event)=>{

                       
                          const checked = [];//store checked boxes here

                          //find all checkboxes by name
                          let arrayOfCheckBoxes = document.getElementsByName("checkbox");//document.querySelectorAll(`input[id = ${letter}${index}].checked`);//grabs all elements with specific id

                          //loop through all boxes
                          arrayOfCheckBoxes.forEach((checkbox)=>{


                            if(checkbox.checked){
                              checked.push(checkbox);
                            }


                          })

                          const objs = [];//store objects of data from checkboxes

                          checked.forEach((box)=>{

                            //destrcut data from each boz into an object
                            const [letter, multiplyer] = [...box.value];
                            
                            
                            objs.push(
                              {
                              letter,  
                              letterPoint:letterPoints[letter],
                              multiplyer
                             }
                            )
                           
                          })

                          let score2 = 0;

                          objs.forEach((obj)=>{
                            score2+= obj.letterPoint*obj.multiplyer
                          })
                          // console.log(score2);
                          console.log(calculateTotal(wordAsArray)+score2);
                         
                        // get the input of check boxes by id (letter+indexOfLetter), see which is ticked if any
                        


                      })

                      
                  });
                 

                  /*left off: code is working but need to refacotr better then what it is*/
            
      </script>
<%- include('partials/footer') %>