<%- include('partials/header') %>
   

      <div class="main-box">
            <h1 class="title">Scrabble Helper</h1>
            <div class="form-inline word-input-container">
              <input class="form-control" type="text" name="wordInput" autocomplete ="off" placeholder="type in word here">
              <button class="btn btn-primary process-btn">Process</button>
            </div>
            
         
      </div>

      <script>
                  
                  window.addEventListener('DOMContentLoaded', (event) => {
                  const letterPoints = {};

                  letterPoints["A"] =1;
                  letterPoints["E"] =1;
                  letterPoints["I"] =1;
                  letterPoints["O"] =1;
                  letterPoints["U"] = 1;
                  letterPoints["L"] =1;
                  letterPoints["N"] =1;
                  letterPoints["S"] =1;
                  letterPoints["T"]=1;
                  letterPoints["R"] = 1;

                  letterPoints["D"] =2;
                  letterPoints["G"] = 2;

                  letterPoints["B"] = 3
                  letterPoints["C"] = 3;
                  letterPoints["M"] = 3;
                  letterPoints["P"] = 3;

                  letterPoints["F"] = 4;
                  letterPoints["H"] = 4
                  letterPoints["V"] =4;
                  letterPoints["W"] =4;
                  letterPoints["Y"] =4;

                  letterPoints["K"] = 5;

                  letterPoints["J"] = 8;
                  letterPoints["X"] = 8;

                  letterPoints["Q"] = 10;
                  letterPoints["Z"] = 10;

                  const getDoubleWordCheckBox = ()=>{

                          return document.querySelector("[name = doubleWordCheckbox]");
                          
                        }
                  const getTripleWordCheckBox = ()=>{

                          return document.querySelector("[name = tripleWordCheckbox]");

                          

                        }
                  const getBingoCheckBox = ()=>{

                          return document.querySelector("[name = bingoCheckbox]");

                            

                        }
                                    
                  const getAllCheckboxesIntoArray = ()=>{
                          // const checked = [];//store checked boxes here

                          //find all boxes of letters
                          let arrayOfLetterBoxes = document.getElementsByClassName("box");

                         
                            //method turns html collection to array
                            return Array.from(arrayOfLetterBoxes);
                        }                                                     //array of boxes
                  const getBackCheckboxesSeperatedByCheckedAndNotChecked = (arrayOfLetterTiles)=>{
                            // const dataObjects = [];//store objects of data from checkboxes
                            const checked = [];
                            const notChecked =[];
                            const arrayOfTileDataObj =[];
                           

                            //loop through array of letter tiles and grab desired 
                            //data make into object and push arrayOfTilesObj
                            arrayOfLetterTiles.forEach((box)=>{
                           
                              arrayOfTileDataObj.push({
                                        checkbox2X: box.children[1],
                                        checkbox3X: box.children[3],
                                        letter: box.children[0].innerHTML

                                      });
                               
                                  });
                                  
                            //loop through arrayOfTileDataObjects and check which
                            //have checked boxes and push to the right array
                            arrayOfTileDataObj.forEach((tile)=>{
                                    if(tile.checkbox2X.checked){
                                      checked.push(tile);
                                    }else if(tile.checkbox3X.checked){
                                      checked.push(tile);
                                    }else{
                                      notChecked.push(tile);
                                    }
                                  });

                            //return back both the checked and not checked arrays as obj

                                 return [checked, notChecked];

                                 
                        } 
                  const printArrayOfTilesInMainContainer = (arrayOfElements,parentElement)=>{

                          //loops throw array of elements and appends each to mainContainer
                          arrayOfElements.forEach((element,index)=>{
                                if(index != 7){
                                  parentElement.appendChild(element);
                                }else{
                                  const break1= document.createElement("br");
                                  const break2= document.createElement("br");
                                  const break3= document.createElement("br");
                                  parentElement.appendChild(break1);
                                  parentElement.appendChild(break2);
                                  parentElement.appendChild(break3);
                                  parentElement.appendChild(element);

                                }
                              
                          })
                        }  
                        
                  const createTile = (letter,index)=>{
                    const containerDiv= document.createElement("div");
                    containerDiv.classList.add("box");
                    containerDiv.id = letter+index;


                    const letterHolderP = document.createElement("p");
                    letterHolderP.textContent = letter;

                    const checkBox2X = document.createElement("input");
                    checkBox2X.type = "checkbox";
                    checkBox2X.name="checkbox";
                    checkBox2X.value=letter+2;
                    checkBox2X.id = letter+index;

                    const labelFor2XCheckBox = document.createElement("label");
                    labelFor2XCheckBox.textContent = "2X";


                    const checkBox3X = document.createElement("input");
                    checkBox3X.type = "checkbox";
                    checkBox3X.name="checkbox";
                    checkBox3X.value=letter+3;
                    checkBox3X.id = letter+index;

                    const labelFor3XCheckBox = document.createElement("label");
                    labelFor3XCheckBox.textContent = "3X";

                    // add the elements to the container div
                    containerDiv.appendChild(letterHolderP);
                    containerDiv.appendChild(checkBox2X);
                    containerDiv.appendChild(labelFor2XCheckBox);
                    containerDiv.appendChild(checkBox3X);
                    containerDiv.appendChild(labelFor3XCheckBox);

                    return containerDiv;
                  };

                  let processBtn = document.querySelector(".process-btn");
           
                  const getWordAsArrayOfChars = ()=>{
                          const word= document.querySelector("[name = wordInput]").value.toUpperCase();
                          const wordArray = [...word];
                          return wordArray;
                        }
                 
                  const createArrayOfTiles = (wordAsArray)=>{

                          let tileArray =[];//used to store the created tiles
                          wordAsArray.forEach((letter,index)=>{
                            
                            const tile = createTile(letter,index);

                            tileArray.push(tile);
                          })

                          return tileArray;
                  } 
                  const verifyWhichOfThreeBoxesIsCheckedAndDisableOther =(e)=>{

                      if(e.target.name === "doubleWordCheckbox" ){
                            if(e.target.checked){
                                  getTripleWordCheckBox().disabled= true;
                                  
                            }else{
                                  getTripleWordCheckBox().disabled= false;
                                  
                            }
                      }else if(e.target.name === "tripleWordCheckbox" ){
                            if(e.target.checked){
                                  getDoubleWordCheckBox().disabled= true;
                                  
                            }else{
                                  getDoubleWordCheckBox().disabled= false;
                                  
                            }
                      }
                      
                      
                  }
                  const createDoubleWordCheckbox = ()=>{

                    const containerDiv= document.createElement("div");
                    containerDiv.classList.add("checkbox");
                    containerDiv.classList.add("doubleWordContainer");
                  

                    const doubleWordCheckBox = document.createElement("input");
                    doubleWordCheckBox.type = "checkbox";
                    doubleWordCheckBox.name="doubleWordCheckbox";
                  
                    doubleWordCheckBox.value=2;
                    doubleWordCheckBox.addEventListener("change",(e)=>{

                      verifyWhichOfThreeBoxesIsCheckedAndDisableOther(e);
 
                    })
                    // doubleWordCheckBox.id = letter+index;

                    const doubleWordLabel = document.createElement("label");
                    
                    doubleWordLabel.textContent = "Double Word";

                    containerDiv.appendChild(doubleWordCheckBox);
                    containerDiv.appendChild(doubleWordLabel);
                    
                    

                    return containerDiv;
                  }
                  
                  const createTripleWordCheckbox = ()=>{

                      const containerDiv= document.createElement("div");
                      containerDiv.classList.add("checkbox");
                      // containerDiv.id = letter+index;

                      const tripleWordCheckBox = document.createElement("input");
                      tripleWordCheckBox.type = "checkbox";
                      tripleWordCheckBox.name="tripleWordCheckbox";

                      tripleWordCheckBox.value=3;
                      tripleWordCheckBox.addEventListener("change",(e)=>{

                        verifyWhichOfThreeBoxesIsCheckedAndDisableOther(e);

                      })
                      
                      const tripleWordLabel = document.createElement("label");

                      tripleWordLabel.textContent = "Triple Word";

                      containerDiv.appendChild(tripleWordCheckBox);
                      containerDiv.appendChild(tripleWordLabel);
                      


                      return containerDiv;
                  }
                                   
                  const createBingoCheckbox = ()=>{

                      const containerDiv= document.createElement("div");
                      containerDiv.classList.add("checkbox");
                      

                      const bingoCheckBox = document.createElement("input");
                      bingoCheckBox.type = "checkbox";
                      bingoCheckBox.name="bingoCheckbox";

                      bingoCheckBox.value=50;
                      bingoCheckBox.addEventListener("change",(e)=>{

                        verifyWhichOfThreeBoxesIsCheckedAndDisableOther(e);

                      })

                      const bingoWordLabel = document.createElement("label");

                      bingoWordLabel.textContent = "Bingo";

                      containerDiv.appendChild(bingoCheckBox);
                      containerDiv.appendChild(bingoWordLabel);



                      return containerDiv;
                  }
                  
                  processBtn.addEventListener("click",(e)=>{
                         
                         //make process btn invisible when clicked
                          e.target.style.visibility = "hidden";
                         const arrayOfTiles = createArrayOfTiles(getWordAsArrayOfChars());
                    
                        const mainContainer = document.querySelector(".main-box");
                        
                
                        printArrayOfTilesInMainContainer(arrayOfTiles,mainContainer);
                        
                      // CALCULATE BTN
                      const calculateBtn = document.createElement("button");
                      calculateBtn.textContent="Calculate";
                      calculateBtn.classList.add("calculateBtn");
                      calculateBtn.classList.add("btn");
                      calculateBtn.classList.add("btn-primary");
                    
                      // RESET BTN
                      const resetBtn = document.createElement("button");
                      resetBtn.textContent="Reset";
                      resetBtn.classList.add("resetBtn");
                      resetBtn.classList.add("btn");
                      resetBtn.classList.add("btn-primary");

                      // special letter score element
                      const specialLetterScoreP = document.createElement("p");//elements used for showing score
                      specialLetterScoreP.classList.add("specialLetterScoreP");

                      // regular letter score element
                      const regularLetterScoreP = document.createElement("p");
                      regularLetterScoreP.classList.add("regularLetterScoreP");

                     // totral letter score element
                      const totalScoreP = document.createElement("p");
                      totalScoreP.classList.add("totalScoreP");
                     
                      mainContainer.appendChild(createDoubleWordCheckbox());
                      mainContainer.appendChild(createTripleWordCheckbox());
                      mainContainer.appendChild(createBingoCheckbox());
                      
                      mainContainer.appendChild(calculateBtn);
                      mainContainer.appendChild(resetBtn);



                      calculateBtn.addEventListener("click",(event)=>{
                       const result =  getBackCheckboxesSeperatedByCheckedAndNotChecked(getAllCheckboxesIntoArray());
                        //result is an array with objects 

                          const [checked, notChecked] = result;

                          const getSpecialLetterScore = (checkedBoxes)=>{
                          
                            const specialLetterScoringDataStorage =[];

                          //loop through all the checked boxes and pull out into an array the specific
                          //special letter score eather 2x or 3x and letter
                          checkedBoxes.forEach((tile)=>{

                            
                            if(tile.checkbox2X.checked){
                              specialLetterScoringDataStorage.push(tile.checkbox2X.value);
                            }else if (tile.checkbox3X.checked){
                              specialLetterScoringDataStorage.push(tile.checkbox3X.value);
                            }

                          });

                      

                          // loop through array that is at top do scoring

                          let specialLscore = 0;

                          specialLetterScoringDataStorage.forEach((item)=>{
                            const [letter, multiplyer] = [...item];
                            specialLscore+= (parseInt(letterPoints[letter])*parseInt(multiplyer));
                            // console.log(`letter ${letter} point ${letterPoints[letter]} multiplyer ${multiplyer} result ${parseInt(letterPoints[letter])*parseInt(multiplyer)}`)
                          })

                          return specialLscore;
                          }

                          const getRegularLetterScore = (lettersNotChecked)=>{
                           
                            let regularLetterScore = 0;
                            lettersNotChecked.forEach((tile,index)=>{
                                
                                regularLetterScore+=letterPoints[tile.letter];
   
                            })
                            
                            return regularLetterScore;
                          }
                            
                          const checkIfBingoIsChecked = ()=>{
                          const bingo = getBingoCheckBox();
                          if(bingo.checked){
                            // result= doubleWord.value;
                            return bingo;
                          }
                        }
                          const returnCheckedBoxForSpecialWordScoring = ()=>{
                            const doubleWord = getDoubleWordCheckBox();
                            const tripleWord = getTripleWordCheckBox();
                          
                          

                          if(doubleWord.checked){
                            
                            return doubleWord;
                          }
                          if(tripleWord.checked){
                            
                            return tripleWord;
                          }

                          return false;
                          

                        }
                         
                        const getTotalScore = ()=>{
                            let score = 0;
                            const scoreWithLetterMultiplyer = getSpecialLetterScore(checked);
                            const normalLetterScore = getRegularLetterScore(notChecked);

                            score+= scoreWithLetterMultiplyer+normalLetterScore;
                            
                          

                            const checkbox = returnCheckedBoxForSpecialWordScoring();
                            
                           
                            if(!checkbox == false){
                            checkbox.name == "doubleWordCheckbox" || checkbox.name == "tripleWordCheckbox"  ?  score*=  parseInt(checkbox.value) : undefined;

                            }  

                         
                          
                            checkIfBingoIsChecked() ? score+= parseInt(checkIfBingoIsChecked().value) : undefined;

                            return score;

                          }
                          

                          console.log(`specialLetterScore: ${getSpecialLetterScore(checked)}`);
                          console.log(`regularLetterScore: ${getRegularLetterScore(notChecked)} `)
                          console.log("Total Score: "+getTotalScore());

                          specialLetterScoreP.textContent=`Total Letter Multiplyer Score: ${getSpecialLetterScore(checked)}`;
                          regularLetterScoreP.textContent= `Regular Letter Score: ${getRegularLetterScore(notChecked)}`;
                          totalScoreP.textContent=`Total Score: ${getTotalScore()}`;
                          
                          mainContainer.appendChild(regularLetterScoreP);
                          mainContainer.appendChild(specialLetterScoreP);
                          mainContainer.appendChild(totalScoreP);

                      })

                      
                      
                      

                      resetBtn.addEventListener("click",()=>{
                        window.location.reload()
                      })
                  });
 
                });

      </script>
<%- include('partials/footer') %>