<%- include('partials/header') %>
   
        
            <input type="text" name="wordInput" placeholder="type in word here">
            <button class="process-btn">Process</button>
            <br>
            <br>
              
            
           
      
      
      <div class="main-box">

      </div>

      <script>
                  
                  window.addEventListener('DOMContentLoaded', (event) => {
    console.log('DOM fully loaded and parsed');

              

                  const letterPoints = {};

                  
                  letterPoints["a"] =1;
                  letterPoints["e"] =1;
                  letterPoints["i"] =1;
                  letterPoints["o"] =1;
                  letterPoints["u"] = 1;
                  letterPoints["l"] =1;
                  letterPoints["n"] =1;
                  letterPoints["s"] =1;
                  letterPoints["t"]=1;
                  letterPoints["r"] = 1;

                  letterPoints["d"] =2;
                  letterPoints["g"] = 2;

                  letterPoints["b"] = 3
                  letterPoints["c"] = 3;
                  letterPoints["m"] = 3;
                  letterPoints["p"] = 3;

                  letterPoints["f"] = 4;
                  letterPoints["h"] = 4
                  letterPoints["v"] =4;
                  letterPoints["w"] =4;
                  letterPoints["y"] =4;

                  letterPoints["k"] = 5;

                  letterPoints["j"] = 8;
                  letterPoints["x"] = 8;

                  letterPoints["q"] = 10;
                  letterPoints["z"] = 10;

                        /*Left of on the following need to add
                  */
                        // create function that checks to see if any of the 3 checkboxes is checked
                        //for 2x word, 3x word or bingo
                        const getDoubleWordCheckBox = ()=>{

                          return document.querySelector("[name = doubleWordCheckbox]");
                          
                        }
                        const getTripleWordCheckBox = ()=>{

                          return document.querySelector("[name = tripleWordCheckbox]");

                          

                        }
                        const getBingoCheckBox = ()=>{

                          return document.querySelector("[name = bingoCheckbox]");

                            

                        }
                        const calculateTotalScore = (wordAsArray,checkBoxData)=>{
                          let regularScore =0;
                          let extraLetterScore =0;
                          let indexOfLetterOfCheckedBox =[];//holds index position of letter that has extra scoring
                          
                          checkBoxData.forEach((checkedBox)=>{
                            extraLetterScore+= checkedBox.letterPoint*checkedBox.multiplyer;
                            indexOfLetterOfCheckedBox.push(parseInt(checkedBox.indexOfLetterWithExtraScore));
                          })
                          
                      
                          wordAsArray.forEach((letter,index)=>{
                           
                      
                            if(!indexOfLetterOfCheckedBox.includes(index)){
                              
                              regularScore+=letterPoints[letter];
                             
                            }

                          
                          })  
                          console.log( `extraLetterScore: ${extraLetterScore} regularLetterScore: ${regularScore}   indexOfLetter: ${indexOfLetterOfCheckedBox}`);
                          
                          return parseInt(regularScore+extraLetterScore);
                        }

                        const getAllCheckedBoxesIntoArray = ()=>{
                          const checked = [];//store checked boxes here

                          //find all checkboxes by name
                          let arrayOfCheckBoxes = document.getElementsByName("checkbox");

                           //loop through all boxes
                           arrayOfCheckBoxes.forEach((checkbox)=>{

                              if(checkbox.checked){
                                checked.push(checkbox);
                              }

                          })

                         
                            return checked;
                        }
                        
                        const getDesiredDataFromCheckBoxsAsArrayOfObjects = (arrayOfcheckedBoxes)=>{
                            const dataObjects = [];//store objects of data from checkboxes

                            arrayOfcheckedBoxes.forEach((box)=>{

                                  //destrcut data from each boz into an object
                                  const [letter, multiplyer] = [...box.value];
                                  const [letterInWord, indexOfLetterWithExtraScore] = [...box.id];

                                 
                                  dataObjects.push(
                                    {
                                      letter,  
                                      letterPoint:letterPoints[letter],
                                      multiplyer,
                                      indexOfLetterWithExtraScore//used to indicate the index of letter that has extra scoring
                                    }
                                  )

                                  })

                                  return dataObjects;
                        } 

                        const printArrayOfTilesInMainContainer = (arrayOfElements,parentElement)=>{

                          //loops throw array of elements and appends each to mainContainer
                          arrayOfElements.forEach((element,index)=>{
                                if(index != 7){
                                  parentElement.appendChild(element);
                                }else{
                                  const break1= document.createElement("br");
                                  const break2= document.createElement("br");
                                  const break3= document.createElement("br");
                                  parentElement.appendChild(break1);
                                  parentElement.appendChild(break2);
                                  parentElement.appendChild(break3);
                                  parentElement.appendChild(element);

                                }
                              
                          })
                        }  
                        
                      

                       const createTile = (letter,index)=>{
                    const containerDiv= document.createElement("div");
                    containerDiv.classList.add("box");
                    containerDiv.id = letter+index;


                    const letterHolderP = document.createElement("p");
                    letterHolderP.textContent = letter;

                    const checkBox2X = document.createElement("input");
                    checkBox2X.type = "checkbox";
                    checkBox2X.name="checkbox";
                    checkBox2X.value=letter+2;
                    checkBox2X.id = letter+index;

                    const labelFor2XCheckBox = document.createElement("label");
                    labelFor2XCheckBox.textContent = "2X";


                    const checkBox3X = document.createElement("input");
                    checkBox3X.type = "checkbox";
                    checkBox3X.name="checkbox";
                    checkBox3X.value=letter+3;
                    checkBox3X.id = letter+index;

                    const labelFor3XCheckBox = document.createElement("label");
                    labelFor3XCheckBox.textContent = "3X";

                    // add the elements to the container div
                    containerDiv.appendChild(letterHolderP);
                    containerDiv.appendChild(checkBox2X);
                    containerDiv.appendChild(labelFor2XCheckBox);
                    containerDiv.appendChild(checkBox3X);
                    containerDiv.appendChild(labelFor3XCheckBox);

                    return containerDiv;
                  };

                  
                      
                 
 
                  let processBtn = document.querySelector(".process-btn");
           

                  const getWordAsArrayOfChars = ()=>{
                          const word= document.querySelector("[name = wordInput]").value;
                          const wordArray = [...word];
                          return wordArray;
                        }
                 
                  const createArrayOfTiles = (wordAsArray)=>{

                          let tileArray =[];//used to store the created tiles
                          wordAsArray.forEach((letter,index)=>{
                            
                            const tile = createTile(letter,index);

                            tileArray.push(tile);
                          })

                          return tileArray;
                  } 
                  const verifyWhichOfThreeBoxesIsCheckedAndDisableOther =(e)=>{

                      if(e.target.name === "doubleWordCheckbox" ){
                            if(e.target.checked){
                                  getTripleWordCheckBox().disabled= true;
                                  
                            }else{
                                  getTripleWordCheckBox().disabled= false;
                                  
                            }
                      }else if(e.target.name === "tripleWordCheckbox" ){
                            if(e.target.checked){
                                  getDoubleWordCheckBox().disabled= true;
                                  
                            }else{
                                  getDoubleWordCheckBox().disabled= false;
                                  
                            }
                      }
                      
                      
                  }
                  const createDoubleWordCheckbox = ()=>{

                    const containerDiv= document.createElement("div");
                    containerDiv.classList.add("checkbox");
                    // containerDiv.id = letter+index;

                    const doubleWordCheckBox = document.createElement("input");
                    doubleWordCheckBox.type = "checkbox";
                    doubleWordCheckBox.name="doubleWordCheckbox";
                  
                    doubleWordCheckBox.value=2;
                    doubleWordCheckBox.addEventListener("change",(e)=>{

                      verifyWhichOfThreeBoxesIsCheckedAndDisableOther(e);
 
                    })
                    // doubleWordCheckBox.id = letter+index;

                    const doubleWordLabel = document.createElement("label");
                    
                    doubleWordLabel.textContent = "Double Word";

                    containerDiv.appendChild(doubleWordCheckBox);
                    containerDiv.appendChild(doubleWordLabel);
                    
                    

                    return containerDiv;
                  }
                  //when button is clicked run a funcion
                  
                  const createTripleWordCheckbox = ()=>{

                      const containerDiv= document.createElement("div");
                      containerDiv.classList.add("checkbox");
                      // containerDiv.id = letter+index;

                      const tripleWordCheckBox = document.createElement("input");
                      tripleWordCheckBox.type = "checkbox";
                      tripleWordCheckBox.name="tripleWordCheckbox";

                      tripleWordCheckBox.value=3;
                      tripleWordCheckBox.addEventListener("change",(e)=>{

                        verifyWhichOfThreeBoxesIsCheckedAndDisableOther(e);

                      })
                      
                      const tripleWordLabel = document.createElement("label");

                      tripleWordLabel.textContent = "Triple Word";

                      containerDiv.appendChild(tripleWordCheckBox);
                      containerDiv.appendChild(tripleWordLabel);
                      


                      return containerDiv;
                  }
                  
                  
                  const createBingoCheckbox = ()=>{

                      const containerDiv= document.createElement("div");
                      containerDiv.classList.add("checkbox");
                      // containerDiv.id = letter+index;

                      const bingoCheckBox = document.createElement("input");
                      bingoCheckBox.type = "checkbox";
                      bingoCheckBox.name="bingoCheckbox";

                      bingoCheckBox.value=50;
                      bingoCheckBox.addEventListener("change",(e)=>{

                        verifyWhichOfThreeBoxesIsCheckedAndDisableOther(e);

                      })

                      const bingoWordLabel = document.createElement("label");

                      bingoWordLabel.textContent = "Bingo";

                      containerDiv.appendChild(bingoCheckBox);
                      containerDiv.appendChild(bingoWordLabel);



                      return containerDiv;
                  }
                  processBtn.addEventListener("click",()=>{
                         
                        const arrayOfTiles = createArrayOfTiles(getWordAsArrayOfChars());
                    
                        const mainContainer = document.querySelector(".main-box");
                
                        printArrayOfTilesInMainContainer(arrayOfTiles,mainContainer);
                        
                      
                      const calculateBtn = document.createElement("button");
                      calculateBtn.textContent="calculate";
                     
                      mainContainer.appendChild(createDoubleWordCheckbox());
                      mainContainer.appendChild(createTripleWordCheckbox());
                      mainContainer.appendChild(createBingoCheckbox());
                      

                      mainContainer.appendChild(calculateBtn);


                      
                 
                      calculateBtn.addEventListener("click",(event)=>{

                        const returnCheckedBoxForSpecialWordScoring = ()=>{
                          const doubleWord = getDoubleWordCheckBox();
                          const tripleWord = getTripleWordCheckBox();
                          const bingo = getBingoCheckBox();
                          // let result = undefined;

                          if(doubleWord.checked){
                            // result= doubleWord.value;
                            return doubleWord;
                          }
                          if(tripleWord.checked){
                            // result= doubleWord.value;
                            return tripleWord;
                          }
                          if(bingo.checked){
                            // result= doubleWord.value;
                            return bingo;
                          }


                          
                        }

                       
                        const checkedBoxes = getAllCheckedBoxesIntoArray();

                        const dataObjects = getDesiredDataFromCheckBoxsAsArrayOfObjects(checkedBoxes);
                        
                     //  ##########might need to be put in a funtion
                        let basicScore = calculateTotalScore(getWordAsArrayOfChars(),dataObjects);
                        const checkbox = returnCheckedBoxForSpecialWordScoring();
                       console.log(basicScore);
                        if(checkbox.name == "bingoCheckbox"){
                           basicScore+= parseInt(checkbox.value);
                            
                        }
                        console.log("new "+basicScore);

                    //  ##########might need to be put in a funtion
                        
                      })

                      
                  });
                 
                    
                  

                });
            
      </script>
<%- include('partials/footer') %>