
.main-box{
      background-color: #AD9476;
      border: 5px solid #65352D;
      border-radius: 10px;
      width: 412px;
      padding-bottom: 15px;
      margin-top: 15px;
      margin-left: 15px;
      
}

.title{
      margin-bottom: 30px;
      margin-left: 5px;
}

/* input box for word */
input[name= wordInput]{
      width: 200px;
      margin-left: 5px;
      
      
}

.word-input-container{
      margin-bottom: 10px;
}

/* process button */

.process-btn{
      margin-left: 5px;
}

.process-btn:hover{
     color:black;
}

.box{
      display: inline-block;
      border: 2px solid #FCE9C1;
      
      margin: 5px;
      width: 47px;
      height: 50%;
      text-align: center;
      vertical-align: baseline;
      font-size: 16px;
      background-color: #FCE9C1;
}

.box p{
      font-weight: bolder;
}

/* checkboxes inside of letter tiles */
.box input[type = checkbox]{
     margin-right: 5px; 
     /* transform: scale(.75); */
     
}

/* 3 checkboxes that hold double, triple word and bingo */
.checkbox input[type=checkbox]{
      margin-left: 5px;
      margin-right: 5px;
      /* margin-top: 20px; */
}

.doubleWordContainer{
      margin-top: 20px;
}


/* calculate button */
.calculateBtn{
      margin-left: 5px;
      margin-top: 10px;
      background-color: #4399AE;
      border-color: #4399AE;
      margin-bottom: 10px;
}

.calculateBtn:hover{
      background-color: #4399AE;
      border-color: #4399AE;
      color: black;
}



/* reset button */
.resetBtn{
     position: relative;
     left: 235px;
     background-color: #F5BBAD;
     border-color: #F5BBAD;
     margin-bottom: 10px;
     margin-top: 10px;
}

.resetBtn:hover{
      background-color: #F5BBAD;
     border-color: #F5BBAD;
     color: black;
}


.specialLetterScoreP, .regularLetterScoreP, .totalScoreP{
      margin-left: 5px;
}




.inline{
    display: inline-block;  
}

